# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Babel
metro-cache/
.metro-health-check*
babel-cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*

# typescript
*.tsbuildinfo
*.d.ts
nativewind-env.d.ts

# Build artifacts & cache
*.log
*.tmp
*.cache
*.lock
*.bak
*.apk

# IDE/editor settings
.idea/
.vscode/

# Android-specific
android/.gradle
android/app/build/
android/build
android/app/debug.keystore
android/app/google-services.json
*.keystore
*.jks
.yarnrc